 /* responsive */
@media screen and (max-width:1140px){
  .container{
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width:1080px){
  .banner h1{
    margin-top: 200px;
  }
  #aboutsection .cards{
    justify-content: space-around;
  }
  #aboutsection .cards> div{
    margin: 10px 0;
  }
  .education .videoplayer{
    width: 1280px;
  }
}

@media screen and (max-width:1024px){
  .banner{
    background-position-x: 45%;
  }
  .banner h1{
    font-size: 2.5rem;
  }
  .programs .boxcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:768px){
  header nav{
    position: relative;
    border: 2px solid #fff;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    border-radius: 5px;
  }
  header nav:after {
    top: 17px;
  }
  headernav:before {
    top: 7px;
  }
  header nav:after, 
  header nav:before{
    content: "";
    height: 2px;
    width: 17px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 5px;
  }
  header nav ul{
    position: absolute;
    right: -400px;
    top: 53px;
    transition: 0.5s;
  }
  header nav:hover ul{
    right: 0;
  }
  header nav ul li{
    display: block;
  }
  header nav ul li a{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .banner {
    background-position-x: 65%;
  }
  .banner p{
    font-size: 14px;
  }
  .banner p,
  .banner h1{
    width: 70%;
  } 
  #aboutsection .cards > div:hover{
    width: 350px;
  }
  .education .educationcontainer {
    width: 96%;
  }
  .education .educationcontainer h3{
    font-size: 30px;
    line-height: 35px;
  }
  .education .educationcontainer p{
    column-count: 2;
  }
}
@media screen and (max-width:425px){
  .banner h1{
    margin-top: 150px;
    font-size: 2rem;
    line-height: 3rem;
  }
  .banner button{
    margin-bottom: 10px;
  }
  #aboutsection p{
    text-align: justify;
  }
  #aboutsection .cards >div:hover{
    width: 400px;
    margin-top: 10px;
    padding: 35px;
  }
  .programs .boxcontainer{
    grid-template-columns: 1fr;
  }
  .education .videoplayer{
    width: 1400px;
  }
  .education .educationcontainer{
    width: 93%;
  }
  .gallery .gallerycontainer{
    column-count: 1;
  }
  footer .container{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width:320px){
  .education .educationcontainer h3{
    font-size: 18px;
    line-height: 24px;
  }
  .banner h1{
    margin-top: 100px;
  }
}
/* responsive end*/