 /*commone style*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
   
 :root {
   --themered: #e43a47;
   --grey: #efefef;
 } 

 html {
    scroll-behavior: smooth;
}

 button,
 body{
   font-family: 'Poppins', sans-serif;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

 }

 p {
   font-size: 16px;
   line-height: 28px;
 }

 .fullcontainer {
   width: 100%;
 }

 .container {
   width: 1140px;
   margin:auto
 }
 /*home style*/

 .sectionTitle{
    width: 300px;
    border-bottom: 3px solid var(--themeRed) ;
    text-align: center;
    font-size: 2rem;
    font-weight: 200 ;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px  0;
    text-transform: uppercase;
}
.sectionTitle::after {
    display : inline-block;
    content: "";
    height: 15px ;
    width: 15px ;
    background-color: var(--themeRed);
    position: absolute;
    left : calc(50% - 10px);
    top : calc(75% - 7px);
    transform: rotate(45deg)  translate(50%, 50%);
    border: 3px solid #fff;
}

section{
    padding: 100px 0;
    position: relative;
}


 header {
   width: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   position: fixed;
   z-index: 2;
 }

 header .container {
   display: flex;
   justify-content: space-between;
 }

 header .container .logo {
   padding: 20px 0;
   height: 80px;
 }

 header .container .logo img {
   height: 200%;
 }

 header nav ul {
   list-style-type: none;
 }

 header nav ul li {
   display: inline-block;
 }

 header nav ul li a {
   display: inline-block;
   height: 75px;
   line-height: 75px;
   padding: 0 15px;
   text-decoration: none;
   text-transform: capitalize;
   font-size: 16px;
   color: #fff; 
   transition: 0.3s;
 }

 header nav ul li a:hover {
   background-color: var(--themered) ;
 }

 .banner {
   min-height: 100vh;
   width: 100%;
   background-image: url("back.jpg");
   background-size: cover;
   background-attachment: fixed;
 }

 .banner h1 {
   margin-top: 230px;
   display: inline-block;
   font-size: 3.5rem;
   color: #fff;
   text-shadow: 0 0 2px #000;
   width: 50%;
   line-height: 4.2rem;
   font-weight: 100;
   margin-left: 30px;
 }

 .banner h1 span{
   background-color: var(--themered);
   display: inline-block;
   line-height: 3.5rem;
   padding: 0 15px;
   font-weight: 600;
   border-radius: 5px ;
    }

 .banner p {
   color: #fff;
   text-shadow: 0 0 2px #000;
   margin-top: 20px;
   margin-left: 25px;
   margin-left: 30px;

 }

 .banner button {
   background-color: var(--themered);
   border: 0;
   outline: none;
   color: #fff;
   padding: 10px 15px ;
   margin-top: 20px;
   font-size: 13px;
   border-radius: 3px;
   font-weight: 600;
   margin-left: 30px;
 }
 /* about section start */
#aboutsection .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 245px;
}

#aboutsection .cards > div { 
    width: 350px;
    background-color: var(--grey);
    padding : 35px;
    color: #444
    text-align center;
    border-radius: 5px;
    height: 215px;
    border: 1px solid  #ccc;
    transition: 0.4s;
}

#aboutsection .cards  > div:hover{
    width: 400px;
    margin-top: -20px;
    border-color: var(--themered);
    padding: 55px;
    height: auto;
}

 #aboutsection .cards > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
 }

 #aboutsection .cards > div .p { 
    font-size: 14px;
    margin-top: 15px;
 }


 #aboutsection .cards > div .button {
    border: 1px  solid var(--themered);
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
 }

 #aboutsection .cards > div .hover button{
    background-color: var(--themered);
    color: #fff;
 }
/* about section end */



/* pogram section start */

.programs{
  background-color: #e2e2e2;
  text-align: center;
}
.programs .boxcontainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
.programs .boxcontainer .box {
  background-color: #fff;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #c5c5c5;
  position: relative;
  margin-bottom: 15px;
}

.programs .boxcontainer .box .cardimage{
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.programs .boxcontainer .box .cardimage img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  filter: grayscale(100%);
  transition: 0.4s;
}

.programs .boxcontainer .box .cardimage:after {
  top: 100%;
}

.programs .boxcontainer .box .programtitle {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  color: #444;
}

.programs .boxcontainer .box .donationcount {
  font-size: 13px;
  font-weight: 600;
  color: #444;
  margin-top: 10px;
}


.programs .boxcontainer .box .donationcount span{
    color: var(--themered);
}

.programs .boxcontainer .box button{
  position: absolute;
  left: 50%;
  background-color: var(--themered);
  color: #fff;
  transform: translate(-50px);
  bottom: -15px;
  border-radius: 60px;
  padding: 7px 15px;
  border: 0;
  outline: none;
  cursor: pointer;
}

/* pogram section end */

/* education */

.education {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.education .videoplayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.education .sectiontitle {
    color: #fff;
    text-shadow: 0 0 4px #000;
}

.education .educationcontainer {
    position: absolute;
    background-color: #00000096;
    width: 600px;
    top: 35vh;
    color: #fff;
    text-shadow: 0 0 3px #000;
    padding: 30px;
}

.education .educationcontainer h3{
    font-size: 35px;
    font-weight: 300;
}

.education .educationcontainer p{
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0 30px;
}

.education .educationcontainer button {
    background-color: var(--themered);
    border:0;
    color: #fff;
    padding: 10px 25px;
    font-weight: 14px;
    outline: none;
}

/*gallery*/

.gallery .gallerycontainer {
  column-count: 4;
  column-gap: 20px;
}


.gallery .gallerycontainer .item{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery .gallerycontainer img{
  width: 100%;
  display: block;
  transition: 0.4s; 
}

.gallery .gallerycontainer .title{
  position: absolute;
  background-color: var(--grey);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: 0.4s; 
}

.gallery .gallerycontainer .item:hover .title{
  opacity: 1;
}

.gallery .gallerycontainer .item:hover img{
  transform: scale(1.2);
}
/* join start */
.join {
  background-image: url("../#");
  color: #fff;
}
.join .jointitle {
  font-size: 40px;
  font-weight: 100;
  color: #000;
}
.join .jointitle span{
  font-weight: 800;
}
.join button{
  padding: 7px 15px;
  margin-top: 20px;
  border: 0;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}
.join button .JoinNow {
  margin-right: 10px;
  background-color: #424242;
  color: #fff;
}
.join button .adoptBtn{
  background-color: var(--grey);
}
footer{
  background-color: #181818;
  color: #7f7f7f;
  padding: 50px 0;
  font-size: 14px;
}
footer .container{
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
footer .title{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px;
  margin-bottom: 30px;
  padding: 0 0 5px 0;
}
footer p{
  margin-bottom: 10px;
}
footer .linkscontainer ul{
  list-style-type: none;
}
footer .linkscontainer ul li a{
  text-decoration: none;
  color: #7f7f7f;
  margin-bottom: 10px;
  display: inline-block;
}
footer.newsLetterContainer img{
  height: 40px;
  margin-bottom: 111px;
}
footer .newsLetterContainer input{
  background-color: transparent;
  border: 1px solid #7f7f7f;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  border-radius: 30px;
}
/* join end */




